@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;500&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-div-dashboard {
  background-color: #f8f8f8;
}

.sub-div-a {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-div-b {
  height: 100vh;
  overflow: scroll;
}
.brand {
  padding: 1rem 0 0 0;
  text-align: center;
}

.aa {
  background-color: white;
  height: 58px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-div {
  margin-top: auto;
}
.men {
  padding: 1rem;
  /* width: 12rem; */
  color: #c4c4c4;
  font-size: 14px;
  font-family: "Work Sans";
  line-height: 26.85px;
  font-weight: 600;
}
.myproj {
  font-family: "Work Sans";
  font-size: 40px;
  font-weight: 600;
  line-height: 76.76px;
  letter-spacing: 2%;
}
.next-main {
  padding: 0.1rem 1rem 1rem 2rem;
}

.imp {
  width: 404px;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.3%;
  border-radius: 10px;
  margin-bottom: 2rem !important;
  margin-right: 2rem;
  background-color: #fefeff;
}

.temp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem !important;
}
.avatar {
  display: flex;
  justify-content: center;
}

/* card design */

.mainCard {
  width: 404px;
  height: 265px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.3%;
  border-radius: 10px;
  background-color: #fefeff;
}

.head {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 191.8%;
  text-align: center;
  letter-spacing: 0.02em;

  color: #000000;
}

.subHead {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 191.8%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.bgorange {
  width: 360px;
  height: 180px;
  background: rgba(250, 120, 47, 0.4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-div {
  width: 53px;
  height: 53px;
  top: 64px;
  left: 154px;
  cursor: pointer;
}

@media screen and (max-width: 986px) {
  .lower-div{
    margin-top: 0;
  }
  .sub-div-a{
    height: 80vh;
  }
  .aa{
    visibility: hidden;
  }
}

